<div class="footer-container">
  <!-- Icons -->
  <div class="cart-icons mobile">
    <div class="shipping">
      <i class="icon-shipping"></i>
      <span>Envíos Gratis</span>
    </div>
    <div class="security">
      <i class="icon-security"></i>
      <span>Sitio Seguro</span>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-container-copyright">
    <div class="wrapper">
      <div class="footer-copyright">
        © Tienda de Mascotas 2021. Todos los derechos reservados.
      </div>
      <div class="footer-logos">
        <a href="http://sideas.com.ar/" title="" rel="">
          <img
            src="https://tiendademascotasar.vtexassets.com/assets/vtex/assets-builder/tiendademascotasar.tdm-store-theme/1.0.8/footer/logo___743af6337901ef6cf4257a1d497f20f7.png"
            alt="sideas" />
        </a>
        <a href="https://vtex.com/ar-es/" title="" rel="">
          <img
            src="https://tiendademascotasar.vtexassets.com/assets/vtex/assets-builder/tiendademascotasar.tdm-store-theme/1.0.8/footer/vtex___2fcff68d22c04d2f4d53cd22812b79d4.png"
            alt="Vtex" />
        </a>
      </div>
    </div>
  </div>
</div>
