/* Fonts */
$font-10: 0.625rem !default;    //10px
$font-11: 0.688rem !default;    //11px
$font-12: 0.75rem !default;     //12px
$font-13: 0.813rem !default;    //13px
$font-14: 0.875rem !default;    //14px
$font-15: 0.938rem !default;    //15px
$font-16: 1rem !default;        //16px
$font-17: 1.063rem !default;    //17px
$font-18: 1.125rem !default;    //18px
$font-19: 1.188rem !default;    //19px
$font-20: 1.25rem !default;     //20px
$font-22: 1.375rem !default;    //22px
$font-24: 1.5rem !default;      //24px
$font-25: 1.563rem !default;    //25px
$font-27: 1.688rem !default;    //27px
$font-28: 1.75rem !default;     //28px
$font-30: 1.875rem !default;    //30px

$font-normal: 'Aleo', serif !important;
$font-condensed: 'Aleo', serif;
